.App {
  width:30%;
  margin: auto;
  border: 1px solid black;
}
.currency{
  width:85%;
  padding: .5em;
  border-right: 1px solid black;
}
.currency-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 1px solid black;
}
.currency-head{
  border-bottom: 1px solid black;
  padding: 6%;
}

.add-currency{
  margin: 5%;
  border: 1px solid black;
  padding: 2%
}

.labelBtn{
  cursor: pointer;
}

.addBtn{
  color:green;
}

.delBtn{
  margin: auto;
  color: orange;
}

.floatRight{
  float: right;
}

.currencylist{
  max-height: 99vh;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.currencylist::-webkit-scrollbar { width: 0 !important }

@media screen and (max-width: 480px) {
  .App{
    width: 90%;
  }
}

@media screen and (min-width:480px) and (max-width: 800px) {
  .App{
    width: 60%;
  }
}


